In [ ]:
import pandas as pd
data = [1,2,3,4]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4

In [ ]:
import pandas as pd
data = [['Usha',1],['Asha',2],['Nisha',3]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

    Name  Age
0   Usha    1
1   Asha    2
2  Nisha    3

In [ ]:
import pandas as pd
data = [['Usha',1],['Asha',2],['Nisha',3]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

    Name  Age
0   Usha    1
1   Asha    2
2  Nisha    3

In [ ]:
import pandas as pd
data = {'Name':['Usha', 'Asha', 'Nisha'],'Age':[20, 21, 22]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0   Usha   20
1   Asha   21
2  Nisha   22

In [ ]:
import pandas as pd
data = {'Name':['Usha', 'Asha', 'Nisha'],'Age':[20, 21, 22]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3'])
print (df)

        Name  Age
rank1   Usha   20
rank2   Asha   21
rank3  Nisha   22

In [1]:
import pandas as pd
data = [{'a': 10, 'b': 20},{'a': 50, 'b': 10}]
df = pd.DataFrame(data)
print (df)

    a   b
0  10  20
1  50  10

In [2]:
import pandas as pd
data = [{'a': 10, 'b': 20},{'a': 50, 'b': 10, 'c': 20}]

#two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

         a   b
first   10  20
second  50  10
         a  b1
first   10 NaN
second  50 NaN

In [5]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)
print (df)

   one  two  three
a  1.0    1    1.0
b  2.0    2    2.0
c  3.0    3    NaN
d  NaN    4    NaN

In [6]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)
print (df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [8]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)
print (df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [9]:

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)

print (df)

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['two']+df['three']

print (df)

   one  two  three
a  1.0    1    1.0
b  2.0    2    2.0
c  3.0    3    NaN
d  NaN    4    NaN
Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [10]:
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)
# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1    1.0
b  2.0    2    2.0
c  3.0    3    NaN
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1    1.0
b    2    2.0
c    3    NaN
d    4    NaN
Deleting another column using POP function:
   three
a    1.0
b    2.0
c    NaN
d    NaN

In [11]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one      2.0
two      2.0
three    2.0
Name: b, dtype: float64

In [12]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one      3.0
two      3.0
three    NaN
Name: c, dtype: float64

In [13]:

import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1,2], index=['a', 'b'])}

df = pd.DataFrame(d)
print (df[2:4])

   one  two  three
c  3.0    3    NaN
d  NaN    4    NaN

In [14]:

import pandas as pd

df = pd.DataFrame([[10, 20], [30, 40]], columns = ['a','b'])
df2 = pd.DataFrame([[50, 60], [70, 80]], columns = ['a','b'])
print (df)
print("after appending")
df = df.append(df2)
print (df)

    a   b
0  10  20
1  30  40
after appending
    a   b
0  10  20
1  30  40
0  50  60
1  70  80

In [15]:
import pandas as pd

df = pd.DataFrame([[10, 20], [30, 40]], columns = ['a','b'])
df2 = pd.DataFrame([[50, 60], [70, 80]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(0)

print (df)

    a   b
1  30  40
1  70  80