In [3]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C'])

#select all rows for a specific column
print (df.loc[:,'A'])

a   -0.665109
b   -1.443821
c    0.440546
d    0.661402
e   -0.703512
Name: A, dtype: float64

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
a -0.527509  1.108761
b -0.452485  2.443515
c -0.209168 -0.584423
d  1.138484 -0.414744
e -0.668909  0.561766

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C'])
print (df.loc[['a','b'],['A','C']])

          A         C
a  0.072624  1.755844
b -0.583822 -0.364550

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C'])
print (df.loc['a':'d'])

          A         B         C
a -0.197311 -0.457245 -1.701369
b  0.177582  0.626580 -0.838562
c  0.000729 -0.180510 -0.451041
d  1.819391  0.584399 -3.013356

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3),
index = ['a','b','c','d','e'], columns = ['A', 'B', 'C'])
print(df)

# for getting values with a boolean array
print (df.loc['a']>0)

          A         B         C
a -0.061045 -0.471060  0.741170
b -1.706108  0.015694 -0.815887
c -0.330492  0.496074  0.611461
d -2.443334 -1.049752  0.374637
e -1.145550  0.580222  1.150154
A    False
B    False
C     True
Name: a, dtype: bool

In [8]:
# import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), columns = ['A', 'B', 'C'])
print(df)

print (df.iloc[:4])

          A         B         C
0  0.771697 -1.726268  1.197717
1  0.304943 -2.092660  0.909584
2 -0.965558  1.372964 -1.699553
3  2.057966  0.113067  0.076613
4 -0.571966 -0.870322  0.630094
          A         B         C
0  0.771697 -1.726268  1.197717
1  0.304943 -2.092660  0.909584
2 -0.965558  1.372964 -1.699553
3  2.057966  0.113067  0.076613

In [11]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), columns = ['A', 'B', 'C'])
print(df)

# Integer slicing
print (df.iloc[:3])
print (df.iloc[1:3, 2:5])

          A         B         C
0  0.963039 -1.372216 -0.446774
1  1.724143  0.241703  0.115638
2 -0.138661 -1.563341 -2.222232
3 -0.543850 -0.534950  0.257680
4 -0.992045 -1.662512  0.430714
          A         B         C
0  0.963039 -1.372216 -0.446774
1  1.724143  0.241703  0.115638
2 -0.138661 -1.563341 -2.222232
          C
1  0.115638
2 -2.222232

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), columns = ['A', 'B', 'C'])
print(df)

# Slicing through list of values
print (df.iloc[[1, 2, 4], [1, 2]])
print (df.iloc[1:3, :])
print (df.iloc[:,1:3])

          A         B         C
0 -2.627768  0.560637  1.113375
1 -1.527195  0.543555  0.386056
2  0.748412 -0.731597  1.049115
3  1.327212  2.574921  1.420977
4 -0.236860  0.490221 -1.422375
          B         C
1  0.543555  0.386056
2 -0.731597  1.049115
4  0.490221 -1.422375
          A         B         C
1 -1.527195  0.543555  0.386056
2  0.748412 -0.731597  1.049115
          B         C
0  0.560637  1.113375
1  0.543555  0.386056
2 -0.731597  1.049115
3  2.574921  1.420977
4  0.490221 -1.422375