In [3]:
#Series with 100 random numbers
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(10))
print (s)

0   -2.610655
1   -0.142327
2    1.450609
3    0.092643
4   -0.733264
5   -0.926733
6   -1.144791
7    0.415810
8   -0.687122
9   -0.856795
dtype: float64

In [5]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(10))
print ("The axes are:")
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=10, step=1)]

In [7]:
import pandas as pd
import numpy as np
s1 = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print (s1.empty)
s2 = pd.Series(np.random.randn(0))
print ("Is the Object empty?")
print (s2.empty)

Is the Object empty?
False
Is the Object empty?
True

In [11]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(10))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0   -1.326128
1    0.423999
2   -1.614876
3   -0.062911
4    2.161533
5   -1.627631
6   -0.027528
7   -1.156165
8    0.118237
9    0.916376
dtype: float64
The dimensions of the object:
1

In [13]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print (s)
print ("Size of the object is :")
print (s.size)

0    0.657807
1   -1.060864
2    1.709276
3    1.046914
4    2.271610
dtype: float64
Size of the object is :
5

In [15]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print (s)
print ("The data series is:")
print (s.values)

0   -2.073948
1    0.636286
2   -1.629407
3   -1.631769
4    0.246598
dtype: float64
The data series is:
[-2.07394754  0.63628605 -1.62940656 -1.63176897  0.24659757]

In [16]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print ("The original series is:")
print (s)
print ("The first two rows:")
print (s.head(2))

The original series is:
0    1.024850
1   -0.223535
2    0.857323
3    0.094732
4   -0.180245
dtype: float64
The first two rows:
0    1.024850
1   -0.223535
dtype: float64

In [17]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print ("The original series is:")
print (s)

print ("The last two rows:")
print (s.tail(2))

The original series is:
0   -0.053287
1   -0.394679
2    1.663373
3    1.638184
4   -1.155195
dtype: float64
The last two rows:
3    1.638184
4   -1.155195
dtype: float64

In [18]:
#Create a dict of series
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}

#Create a dataframe
df = pd.DataFrame(d)
print ("data series is:")
print (df)

data series is:
      Name  Age
0     usha   20
1  nikitha   21

In [20]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}

# Create a DataFrame
df = pd.DataFrame(d)
print ("transpose of data series is:")
print (df.T)

transpose of data series is:
         0        1
Name  usha  nikitha
Age     20       21

In [21]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=2, step=1), Index(['Name', 'Age'], dtype='object')]

In [23]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
   
#Create a DataFrame
df = pd.DataFrame(d)
print ("data types of each column are:")
print (df.dtypes)

data types of each column are:
Name    object
Age      int64
dtype: object

In [24]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [26]:
#ndim-Returns the number of dimensions of the object. By definition, DataFrame is a 2D object.
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
   
#Create a DataFrame
df = pd.DataFrame(d)
print ("object :")
print (df)
print ("The dimension of the object :")
print (df.ndim)

object :
      Name  Age
0     usha   20
1  nikitha   21
The dimension of the object :
2

In [27]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The shape of the object is:")
print (df.shape)

Our object is:
      Name  Age
0     usha   20
1  nikitha   21
The shape of the object is:
(2, 2)

In [33]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("object is:")
print (df)
print ("The total number of elements in the object is:")
print (df.size)

object is:
      Name  Age
0     usha   20
1  nikitha   21
The total number of elements in the object is:
4

In [29]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The actual data in our data frame is:")
print (df.values)

Our object is:
      Name  Age
0     usha   20
1  nikitha   21
The actual data in our data frame is:
[['usha' 20]
 ['nikitha' 21]]

In [30]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
df = pd.DataFrame(d)
print ("data frame is:")
print (df)
print ("The first two rows:")
print (df.head(3))
print("default head values")
print (df.head())

data frame is:
      Name  Age
0     usha   20
1  nikitha   21
The first two rows:
      Name  Age
0     usha   20
1  nikitha   21
default head values
      Name  Age
0     usha   20
1  nikitha   21

In [32]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['usha', 'nikitha']),
   'Age':pd.Series([20,21])}
df = pd.DataFrame(d)
print ("data frame is:")
print (df)
print ("The last two rowz:")
print (df.tail(2))

data frame is:
      Name  Age
0     usha   20
1  nikitha   21
The last two rowz:
      Name  Age
0     usha   20
1  nikitha   21