In [ ]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

       Name  Age  Rank
0      usha   20     1
1  nikhitha   21     2
2       ria   32     5
3   rijwana   24     3
4    rihana   25     4
5    manasa   27     7
6     manya   15     8
7    rahath   26     6

In [1]:
import pandas as pd
import numpy as np
 
d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

df = pd.DataFrame(d)
print (df.sum())

Name    ushanikhithariarijwanarihanamanasamanyarahath
Age                                               190
Rank                                               36
dtype: object

In [2]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

df = pd.DataFrame(d)
print (df.sum(1))

0    21
1    23
2    37
3    27
4    29
5    34
6    23
7    32
dtype: int64

In [3]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

df = pd.DataFrame(d)
print (df.mean())

Age     23.75
Rank     4.50
dtype: float64

In [4]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

df = pd.DataFrame(d)
print (df.std())

Age     5.119989
Rank    2.449490
dtype: float64

In [5]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

df = pd.DataFrame(d)
print (df.describe())

             Age     Rank
count   8.000000  8.00000
mean   23.750000  4.50000
std     5.119989  2.44949
min    15.000000  1.00000
25%    20.750000  2.75000
50%    24.500000  4.50000
75%    26.250000  6.25000
max    32.000000  8.00000

In [6]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

df = pd.DataFrame(d)
print (df.describe(include=['object']))

        Name
count      8
unique     8
top     usha
freq       1

In [7]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['usha', 'nikhitha', 'ria', 'rijwana', 'rihana', 'manasa', 'manya','rahath']),
   'Age':pd.Series([20, 21, 32, 24, 25, 27, 15, 26]),
   'Rank':pd.Series([1, 2, 5, 3, 4, 7, 8, 6])}

df = pd.DataFrame(d)
print (df. describe(include='all'))

        Name        Age     Rank
count      8   8.000000  8.00000
unique     8        NaN      NaN
top     usha        NaN      NaN
freq       1        NaN      NaN
mean     NaN  23.750000  4.50000
std      NaN   5.119989  2.44949
min      NaN  15.000000  1.00000
25%      NaN  20.750000  2.75000
50%      NaN  24.500000  4.50000
75%      NaN  26.250000  6.25000
max      NaN  32.000000  8.00000

In [8]:
# Import package
from pandas import DataFrame

# Create DataFrame
cart = {'Product': ['apple', 'samsung', 'oppo', 'vivo'],
		'Price': [200000, 15000, 8000, 12000],
		'Year': [2016, 2010, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Price
print("\nDescriptive statistics of Price:\n")
stats = df['Price'].describe()
print(stats)

Original DataFrame:
    Product   Price  Year
0    apple  200000  2016
1  samsung   15000  2010
2     oppo    8000  2018
3     vivo   12000  2019

Descriptive statistics of Price:

count         4.000000
mean      58750.000000
std       94210.314368
min        8000.000000
25%       11000.000000
50%       13500.000000
75%       61250.000000
max      200000.000000
Name: Price, dtype: float64

In [9]:
# Create DataFrame
cart = {'Product': ['apple', 'samsung', 'oppo', 'vivo'],
		'Price': [200000, 15000, 8000, 12000],
		'Year': [2016, 2010, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Year
print("\nDescriptive statistics of year:\n")
stats = df['Year'].describe()
print(stats)

Original DataFrame:
    Product   Price  Year
0    apple  200000  2016
1  samsung   15000  2010
2     oppo    8000  2018
3     vivo   12000  2019

Descriptive statistics of year:

count       4.000000
mean     2015.750000
std         4.031129
min      2010.000000
25%      2014.500000
50%      2017.000000
75%      2018.250000
max      2019.000000
Name: Year, dtype: float64

In [10]:
# Create DataFrame
cart = {'Product': ['apple', 'samsung', 'oppo', 'vivo'],
		'Price': [200000, 15000, 8000, 12000],
		'Year': [2016, 2010, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of whole dataframe
print("\nDescriptive statistics of whole dataframe:\n")
stats = df.describe(include = 'all')
print(stats)

Original DataFrame:
    Product   Price  Year
0    apple  200000  2016
1  samsung   15000  2010
2     oppo    8000  2018
3     vivo   12000  2019

Descriptive statistics of whole dataframe:

        Product          Price         Year
count         4       4.000000     4.000000
unique        4            NaN          NaN
top     samsung            NaN          NaN
freq          1            NaN          NaN
mean        NaN   58750.000000  2015.750000
std         NaN   94210.314368     4.031129
min         NaN    8000.000000  2010.000000
25%         NaN   11000.000000  2014.500000
50%         NaN   13500.000000  2017.000000
75%         NaN   61250.000000  2018.250000
max         NaN  200000.000000  2019.000000

In [11]:
# Create DataFrame
cart = {'Product': ['apple', 'samsung', 'oppo', 'vivo'],
		'Price': [200000, 15000, 8000, 12000],
		'Year': [2016, 2010, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Print Count of Price
print("\nCount of Price:\n")
counts = df['Price'].count()
print(counts)

# Print mean of Price
print("\nMean of Price:\n")
m = df['Price'].mean()
print(m)

# Print maximum value of Price
print("\nMaximum value of Price:\n")
mx = df['Price'].max()
print(m)

# Print standard deviation of Price
print("\nStandard deviation of Price:\n")
sd = df['Price'].std()
print(sd)

Original DataFrame:
    Product   Price  Year
0    apple  200000  2016
1  samsung   15000  2010
2     oppo    8000  2018
3     vivo   12000  2019

Count of Price:

4

Mean of Price:

58750.0

Maximum value of Price:

58750.0

Standard deviation of Price:

94210.31436808464