In [1]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['c1','c2','c3'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

         c1        c2        c3
0 -0.933303  0.117170  0.391893
1  0.937478 -0.098626 -0.700574
2 -1.107867  0.537739  0.008770
3 -0.726777 -0.552453  0.256430
4  1.359929  0.654116 -0.003385
printing the results of pipe
         c1        c2        c3
0  1.066697  2.117170  2.391893
1  2.937478  1.901374  1.299426
2  0.892133  2.537739  2.008770
3  1.273223  1.447547  2.256430
4  3.359929  2.654116  1.996615

In [6]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df1 = pd.DataFrame(np.random.randn(5,3),columns=['c1','c2','c3'])
print(df1)
print (df1.apply(np.mean))
df2 = pd.DataFrame(np.random.randn(2,3),columns=['c1','c2','c3'])
print(df2)
print (df2.apply(np.mean))

         c1        c2        c3
0  0.579966  1.137748  1.145436
1  1.312848 -0.197587 -0.429141
2  0.495760  0.236627 -0.540781
3  0.223939 -0.406359  0.767736
4 -0.971355 -1.081058  0.110931
c1    0.328232
c2   -0.062126
c3    0.210836
dtype: float64
         c1       c2        c3
0 -0.507356  1.24904 -0.569703
1 -1.236281 -0.28415 -0.170698
c1   -0.871819
c2    0.482445
c3   -0.370201
dtype: float64

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['c1','c2','c3'])
print(df)

print (df.apply(np.mean,axis=1))

         c1        c2        c3
0 -0.306753  0.600233  0.642278
1 -0.749741  0.785614 -1.038009
2 -0.338513 -1.899524  0.284387
3  0.392023  0.550296  0.513380
4  1.196531 -0.687577  0.202707
0    0.311919
1   -0.334045
2   -0.651217
3    0.485233
4    0.237220
dtype: float64

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['c1','c2','c3'])
print(df)

print(df['c1'].map(lambda x:x*100))
print(df['c1'].map(lambda x:x*10))

         c1        c2        c3
0  0.030570  2.009714  0.381442
1  2.208307  0.699242  0.548603
2  1.003058  1.515923  1.082319
3 -0.790375 -2.421016  0.487418
4  0.130189 -0.485246 -1.294610
0      3.056959
1    220.830654
2    100.305830
3    -79.037482
4     13.018922
Name: c1, dtype: float64
0     0.305696
1    22.083065
2    10.030583
3    -7.903748
4     1.301892
Name: c1, dtype: float64

In [12]:
df=pd.DataFrame({'id':[1,2,3,4],'name':['usha','nikhitha','asha','ria'],'age':[20,22,33,44], 'income':[1000000000,8888,7777,6666]})
print(df)

   id      name  age      income
0   1      usha   20  1000000000
1   2  nikhitha   22        8888
2   3      asha   33        7777
3   4       ria   44        6666

In [14]:
df['age']=df.apply(lambda x: x['age']+1, axis=1)
print(df)

   id      name  age      income
0   1      usha   24  1000000000
1   2  nikhitha   26        8888
2   3      asha   37        7777
3   4       ria   48        6666

In [15]:
list(filter(lambda x:x>18, df['age']))

[24, 26, 37, 48]

In [17]:
df['income']=list(map(lambda x: int(x+x*0.8), df['income']))
print(df)

   id      name  age      income
0   1      usha   24  2160000000
1   2  nikhitha   26       19197
2   3      asha   37       16797
3   4       ria   48       14398

In [18]:
import functools
functools.reduce(lambda a,b: a+b, df['income'])

2160050392

In [19]:
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')
print(df)

   id      name  age      income category
0   1      usha   24  2160000000    Adult
1   2  nikhitha   26       19197    Adult
2   3      asha   37       16797    Adult
3   4       ria   48       14398    Adult